<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'http://bryntum.com/examples/extjs-6.0.1/build/classic/theme-triton/resources/theme-triton-all.css' %>
    <%= stylesheet_link_tag 'siesta/resources/css/siesta-all' %>

    <!-- Ext JS library -->
    <%= javascript_include_tag 'http://bryntum.com/examples/extjs-6.0.1/build/ext-all.js' %>
    <%= javascript_include_tag 'http://bryntum.com/examples/extjs-6.0.1/build/classic/theme-triton/theme-triton.js' %>
    <%= javascript_include_tag 'http://bryntum.com/examples/extjs-6.0.1/build/packages/charts/classic/charts-debug.js' %>

    <%= javascript_include_tag 'siesta/siesta-all' %>
    <%= javascript_include_tag 'siesta/siesta-coverage-all' %>

    <%= include_siesta_config %>
    <%= include_test_harness %>
  </head>

  <body>
  </body>
</html>
